* {
    text-align: center;
    box-sizing: border-box;
    font-family: fantasy;
}

div {
    background-color: #808080;
    position: relative;
    border: 1px solid black;
    margin: 1%;
}

div p {
    margin-top: 25px;
    text-align: left;
}

div h3 {
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0;
}

.chicken h3 {
    background-color: rgb(248, 177, 189);
    border: 1px solid black;
}

.beef h3 {
    background-color: rgb(247, 82, 82);
    color: white;
    border: 1px solid black;
}

.sushi h3 {
    background-color: rgb(245, 245, 76);
    border: 1px solid black;
}


@media (max-width: 767px) {
    div {
        width: 90%;
        margin: auto;
        margin-bottom: 15px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    div {
        float: left;
        width: 48%;
    }
    div.sushi {
        clear: left;
        width: 98%;
    }
}

@media (min-width: 992px) {
    div {
        width: 31%;
        float : left;
    }
}
